/*SELECTORS*/
/*1. idsi adi olan imput seçildi*/
#adi{
/* class 1 obje_1 olan p seçildi*/
}
.obje_1{
    color:yellow;
}

/*etiket seçiciler*/
div{
    background-color:blueviolet;
}

/*Evrensel Seçiciler(yıldız)*/
*{
    margin:0;
    padding:0;
}
/*Torun Seçiciler(hiyerarşik yapısı)*/
ul li a{
    color:aquamarine;
}


/*Çocuk seçiciler*/
/*h2nin içindeki tüm em'leri seç*/
h2 em{
    color:brown;
}

/*h2nin içindeki direkt em varsa onu seçer*/
h2>em{
    color:green;
}

/*h2nin altındaki strongda direkt em seçer*/
h2 strong>em{
  color:aqua;
}


/*Bitişik Seçiciler*/
/*öncesşnde h1 olan tüm pleri seç veya renk ata*/
h1+p{
    color:orange;
    font-size: 54px;
}
/*Özellik seçiciler (attributes)*/
a{
    color:red;
}
a[title]{
    color:green;
}


input[type="text"]{
    color:blanchedalmond;
}

input[type="submit"]{
    color:brown;
}

input[type="reset"]{
    color:azure;
}

input[value="adi"]{
    font-size: 34 px;
    color:purple;
}

ul li{
    list-style-type:none;
    background-color:blue;
    border: 1;
    border-color: black;
    margin: 35px;
    color: white;
}

a:link{
    text-decoration: none;
}

a:hover{
    color:red;

}

a:visited{
    color:green;

}

a:active{
    color:yellow;

}

ul{
    display:flex;
}


.esnek_kutu_kapsul{
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: row;
    flex-wrap: wrap;       verileri 2 sıra şeklinde otomatik diziyor; büyütüldükçe sıra sayısı azalır duruma göre
    width:90%;
    border:5px solid #0068ce;
    background: #00cc1;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;

}


.esnek_kutu{
background-color: #fff;
text-align: center;
padding:70px 0;
width:190px;
margin-right: 15px;
font-size: 18px;
}


display flex wrap önemliiiiiiiiiiiiiiiiiiiiiii


.esnek_kutu{
    margin-right: 0;
    background-color: #80cee0;

}

.esnek_kutu_2{
    background: #ccebf3;
    flex-group:2
}


.esnek_kutu:nth-child(5){
    background: #ccebf3;
    flex-group:5
}



body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ecf0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-box{
    background:#fff;
    padding: 30px;
    width: 350 px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 6px;
    text-align: center;

}


.login-box h2{
    margin-bottom: 10px;
}



.login-box.bold{
    font-weight: bold;
    color: #a5a9ab;
}


.login-box.light{
    font-weight: lighter;
}



.login-box p{
    color: #666;
    margin-bottom:20px;
}

.input-group{
    position: relative;
    margin-bottom: 20px;
}


.input-group input{
    width: 100%;
    padding: 5px 5px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.input-group i{
    position: absolute;
    right: 10px;
    top:10px;
    color: #999;
}

.form-options{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.form-options label{
    font-size: 14px;

}


.btn{
    width: 100%;
    padding: 10px;
    border: none;
    color:#fff;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn.signin{
    background-color:#007bff;
    width: 150px;
}


.btn.facebook{
    background-color: #007bff;
}

.btn.google{
    background-color: #b41f50;
}

.seperator{
    margin: 15px 0;
}


.links{ 
    font-size: 14px;
    display: felx;
    flex-direction: column:
    text-align: left;
}



.links a{
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10 px;
}



hiyerarşik yapı yukarıdan aşağı ya da dıştan içe doğru gider


display flex   bir satırda iki eleman varsa


